<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Timesheets</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Timesheets</span>
        <div class="col-4 text-light">
          <%= if @current_user do %>
            User: <%= @current_user.name %>
            (<%= link("Logout", to: Routes.session_path(@conn, :delete),
              method: :delete) %>)
            <%= link "Home", to: Routes.worker_path(@conn, :index) %>
            
          <% else %>
            <%= link("Login", to: Routes.session_path(@conn, :new)) %>
          <% end %>
        </div>
      </nav>
      <div class="container">
        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
      </div>

      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
